---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p>
    Refer to the <a href="https://github.com/dabneyhovse/dabney-systems-index"
      >GitHub repository</a
    > for adding systems and uptime checks to the index, the commit history, and
    more.
  </p>
</Layout>
